$primary-color: magenta;

html,
body,
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 3px 3px 10px #ccc;
  max-width: 500px;
  margin: auto;
}

header {
  padding: 10px 0 1px 0;
  background-color: blue;
  border-radius: 25px 25px 0 0;
  color: white;
  h1 {
    margin: 0;
    text-transform: uppercase;
  }
  p {
    padding-top: 0;
    margin-top: 0;
    text-transform: lowercase;
  }
}

footer {
  background-color: red;
  border-radius: 0 0 25px 25px;
  padding: 10px;
}

.display-name {
  p {
    font-family: cursive;
  }
  font-size: 2em;
  padding: 40px 0;
}

button,
input[type='submit'] {
  background-color: $primary-color;
  border: 5px solid lighten($primary-color, 30%);
  color: white;
  margin: 0 0.5em;
  padding: 1em;
  outline: none;
  &:hover {
    background-color: darken($primary-color, 5%);
  }
  &:active {
    background-color: darken($primary-color, 10%);
  }
  &.primary {
    background-color: darken($primary-color, 5%);
    &:hover {
      background-color: darken($primary-color, 15%);
    }
    &:active {
      background-color: darken($primary-color, 20%);
    }
  }
  &.secondary {
    background-color: lighten($primary-color, 40%);
    &:hover {
      background-color: lighten($primary-color, 25%);
    }
    &:active {
      background-color: lighten($primary-color, 10%);
    }
  }
  &.destructive {
    background-color: #ff0077;
    &:hover {
      background-color: darken(#ff0077, 5%);
    }
    &:active {
      background-color: darken(#ff0077, 10%);
    }
  }
}